/*
 * Communitree styling: positioning, colours, zindex etc.
 */

#cTree{
	position: absolute;
}

#cTreeCanvas{
	position: absolute;
}

#ctLines{
	position: absolute;
}

#ctClick{
	position: absolute;

	background-color: white;
	color: #444;
	padding: 4px;
	font-size: 12px;

	border-top: 1px;
	border-top-style: solid;
	border-top-width: thin;
	border-top-color: #BBBBBB;
	/*	xbackground-image: url('../images/scomImgs/show_communitree.gif');
		xbackground-repeat: no-repeat;
	*/
		
    opacity: .8;
	filter: alpha(opacity=80);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

#cTreeIE{
	position: absolute;
	text-align: center;
	color: #888888;
	left: 0px;
	font-size: 11px;
}

.area{
	position: absolute;
}

.apps{
	border: none;
}

.news{
	border: none;
}

.trials{
	border: none;
}

#ctClickArea{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 0;
}

#showContentBtn{
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 11px;
	cursor: pointer;
	width: 136px;
	height: 50px;
	background-image: url('../images/scomImgs/show_content_blue.gif');
	background-repeat: no-repeat;
	margin: 0px;
	border: none;
	
}

#showContentBtn:hover{
  background-image: url('../images/scomImgs/show_content_hover.gif');

}

/*leave for Debugging field 
.users{
	background-color: red;
}

.apps{
	background-color: blue;
}

.news{
	background-color: green;
}

.trials{
	background-color: orange;
}
/*end debugging*/

#cTree .field{
	position: absolute;
	line-height: 2px;
	/**/
	/*background-color: white;
	border-style: solid;
	border-width: thin;
	border-color: #BBBBBB;*/
	
}


.fieldActive{
	border-color: #11AAFF;
}

.fieldOver{
	
}

.field:hover{
	cursor: pointer;
}

.theUser{
	border-color: #DD1122;
	/*background-color:  #DD1122;*/
}

.inRectOver{
	background-color: #11AAFF;
}

.inRectActive{
	background-color: #11AAFF;	
}

.line{
	background: black;
	position: absolute;
}

.traveller{
	position: absolute;
	background-color: transparent;
	background-repeat: no-repeat;
}

.connection div{
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

.connection div .first{
	background-color: #11AAFF;
}

.connection div.w{
	position: absolute;
	border-top: 1px solid #11AAFF;
}

.connection div.h{
	position: absolute;
	border-left: 1px solid #11AAFF;
}

/*AREA NAME ///////////////////////////////*/
.areaNameDiv{
	position: absolute;
	font-family: "Trebuchet MS", "Bitstream Vera Sans", Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 160px;
	color: #001155;
	margin-top: -25px;
	z-index: 888;
	display: none;
}

.areaNameDiv h1{
	float: left;
	font-size: 12px;
	padding-right: 10px;
	
}

.areaNameDiv h2{
	float: left;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #BBBBBB;
}

/*INFO HOVER ///////////////////////////////*/
.hoverInfo{
	padding: 0;
	margin: 0;
	position: absolute;
	font-family: "Trebuchet MS", "Bitstream Vera Sans", Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	/*margin-top: -7px;*/
	margin-left: -37px;
	z-index: 999;
}

.hoverInfo #imgContainer{
	margin: 0;

	position: absolute;
	left: -70px;
	top: 7px;
	width: 60px;
	height: 60px;
	overflow: hidden;
	background-color: white;
	
	border-style: solid;
	border-width: thin;
	border-color: #001155;
}

.hoverInfo #imgContainer img{
	width: 60px;
	height: 60px;
}

.hoverInfo .inRect #imgContainer{
	/*height: 100%;
	padding-top: 10px;*/
}

.hoverInfo .inRect{
	padding: 0;
	margin: 0;
	padding-top: 1px;
	background-color: white;
	border-style: solid;
	border-width: thin;
	border-color: #001155;
	border-top: none;
	border-bottom: none;
	padding-left: 10px;
}

.hoverInfo ul, .hoverInfo li{
	margin: 0px;
	padding: 0px;
}

.inTopRect{
	height: 7px;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: #001155;
}

.inRectArrow{
	background-image: url('../images/scomImgs/hoverArrow.gif');
	background-repeat:no-repeat;
	float:left;
	width: 15px;
	height: 9px;
}

.inBottomRect{
	height: 7px;
	border-top-style: solid;
	border-top-width: thin;
	border-top-color: #001155;
}

.inBottomRectArrow{
	background-image: url('../images/scomImgs/hoverBottomArrow.gif');
	background-repeat:no-repeat;
	margin-top: -2px;
	float:left;
	width: 15px;
	height: 9px;
}

.inRect h1{
	font-size: 12px;
	color: #001155;
	padding-right: 6px;
	background-image: url('../images/scomImgs/ArrowBlackOffset.gif');
	background-repeat:no-repeat;
	padding-left: 10px;
}

.inRect h2{
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #BBBBBB;
	display: none;
}

.hoverInfo ul{
	list-style-image: url('../images/scomImgs/ArrowBlue.gif');
	padding: 0px;
	margin: 0px;
	margin-top: -5px;
	padding-left: 23px;
	padding-bottom: 12px;
}

/*
 * Communitree: if the page background should have dots
html, body{
	margin: 0px;
	padding: 0px;
	background-image: url('../images/scomImgs/bgPoints.png');
}
 */

/*
 * Communitree: layout of the debug window when enableLogging=true
 */
#logger{
	position: absolute;
	top: 100%;
	left: 0px;
	margin-top: -173px;
	width: 40%;
	background-color: rgba(0,0,0,.9);
}

#logger #loggerContent{
	font-family:  Monaco, "Courier New", Courier, monospace;
	color: white;
	margin-top: 3px;
	font-size: 10px;
	overflow: auto; 
	height: 130px;
}



/*
#cTreeRoot {
  position: fixed;
  background: #fff;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: none;
  margin: auto;
  z-index: -10000;
}
*/

#cTreeToogleButton {
  background-image: url(../images/toggle/CommuniButton_Normal.png);
  position: fixed;
  right: 0px;
  top: 480px;
  height: 50px;
  width: 50px;
  cursor: pointer;  
  z-index: 100000;
}

#cTreeToogleButton:hover { 
  background-image: url(../images/toggle/CommuniButton_Hover.png);
}

#cTreeToogleButton.closeButton { 
  background-image: url(../images/toggle/CommuniButton_Close_Normal.png);
}

#cTreeToogleButton.closeButton:hover { 
  background-image: url(../images/toggle/CommuniButton_Close_Hover.png);
}

.ctree_logo {
  float: left;
  height: 50px;
}

.ctree_title {
  font-family: "Trebuchet MS", Arial, Verdana;
  float: left;
  color: #333;
  font-size: 24px;
  margin: 10px;
  padding-left: 10px;
  border-left: 1px dotted #333;
}

.ctree_slogan {
  font-family: "Trebuchet MS", Arial, Verdana;
  clear: left;
  color: #999;
  font-size: 16px;
}

/* end ctree.css */
